.about{
  text-transform: uppercase;
  margin: 0 auto;
  // display: flex;
  // flex-direction: column;
  // justify-content: space-between;
}
.about__wrapper{
  text-align: center;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.about-title{
  font-family: "PT Sans", "Arial", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 26px;
  // margin: 0;
}

.about-text{
  font-family: PT Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 26px;
  color: @dark-grey;
  // margin: 0;
}

.about-index{
  width: 285px;
  height: 162px;
    @media (min-width: @tablet-width) {
      width: 520px;
      height: 110px;
    }

    @media (min-width: @desktop-width) {
      max-width: 483px;
      height: 110px;
    }
}

.about-form{
  width: 306px;
  height: 151px;
    @media (min-width: @tablet-width) {
      // padding: 44px 64px 0;
      width: 434px;
      height: 129px;
    }

    @media (min-width: @desktop-width) {
      max-width: 434px;
      height: 129px;
    }
}

.about-catalog{
  width: 299px;
  height: 153px;
      @media (min-width: @tablet-width) {
        width: 458px;
        height: 130px;
      }

      @media (min-width: @desktop-width) {
        max-width: 458px;
        height: 118px;
      }
}

.about-triangle{
  @media (min-width: @tablet-width) {
    display: none;
  }
}
