.about{
  text-transform: uppercase;
}

.about-title{
  font-family: "PT Sans", "Arial", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 26px;
}
.about-text{
  font-family: PT Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 26px;
  color: @dark-grey;
}
