.attractions__list{
  min-height: 286px;
  margin-bottom: 51px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  width: 225px;
  margin: 0 auto;

    @media (min-width: @tablet-width){

      display: flex;
      flex-wrap: wrap;
      flex-direction: row;

      width: 484px;
      min-height: 134px;
      margin: 0 auto 76px;
    }

    @media (min-width: @desktop-width){
      width: 987px;
      display: flex;
      flex-wrap: nowrap;

      margin-bottom: 74px;
    }
}
.attractions__item{
  position: relative;
}

.attractions__item input + label{
  &:before{
    content: "";
    width: 46px;
    height: 46px;
    position: absolute;
    top: -15px;
    left: 0;
    background-color: @form-grey;
    border: 5px solid @form-grey;
  }

  &:hover,
  &:focus {
    &:before{
    background-color: @grey-disabled;
    border: 5px solid @grey-disabled;
    }
  }
  &:active {
    &:before{
    opacity: .3;
    border: 5px solid @grey-down;
    }
  }
}

.attractions__item input:checked + label{
  &:before{
    content: "";
    width: 46px;
    height: 46px;
    position: absolute;
    top: -15px;
    left: 0;
    background-color: @form-grey;
    border: 5px solid @form-grey;
    background-image: url(../img/tick.svg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 23px 16px;

    &:hover,
    &:focus {
      &:before{
      background-color: @grey-disabled;
      border: 5px solid @grey-disabled;
      }
    }
    &:active {
      &:before{
      opacity: .3;
      border: 5px solid @grey-down;
      }
    }

  }
}

.attractions__title{
  text-align: center;
  margin-bottom: 25px;
    @media (min-width: @tablet-width){
      margin-bottom: 48px;
    }
}

.attractions__item label{
  font-family: "PT Sans", "Arial", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 26px;
  text-transform: none;

  padding-left: 60px;
}

.attractions fieldset{
  border: none;
  margin: 0;
  padding: 0;
}
