.button{
  background-color: @blue-main;
  color: @white;
  border: none;
  text-transform: uppercase;
  font-family: "PT Sans", "Arial", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;


  display: flex;
  align-items: center;
  justify-content: center;

  &:hover,
  &:focus {
    color: @white;
    background-color: @blue-hover;
  }

  &:active {
    color: @grey-hover;
    // opacity: .3;
    background-color: @blue-down;
  }

  &:disabled{
    background-color: @grey-disabled;
    color: @white;
  }
}
