.features-item__title{
  font-family: "PT Sans", "Arial", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 26px;
}

.features-item__desc{
  font-family: "PT Sans", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
}

.features-item:nth-child(1) .features-item__img{
  background-image: url(../../img/icon-house.svg);
  background-color: @white;
  width: 39px;
  height: 37px;
}

.features-item:nth-child(2) .features-item__img{
  background-image: url(../../img/icon-gift.svg);
  background-color: @white;
  width: 32px;
  height: 38px;
}

.features-item:nth-child(3) .features-item__img{
  background-image: url(../../img/icon-burger.svg);
  background-color: @white;
  width: 40px;
  height: 35px;
}
