// .form-form{
//   @media (min-width: @tablet-width){
//     width: 648px;
//     margin: auto;
//   }

//   @media (min-width: @desktop-width){
//     width: 987px;
//     margin: auto;
//   }
// }

.form__wrapper__main{
  margin: 20px auto 0;
  width: 320px;
  display: flex;
  flex-wrap: wrap;
    @media (min-width: @tablet-width){
      width: 648px;
      margin-top: 62px;


      // flex-direction: row-reverse;
      // justify-content: space-between;
    }
    @media (min-width: @desktop-width){
      margin-top: 57px;
      width: 987px;
    }
}

// .form__wrapper__second{
//   width: 100%;
// }

// .form__wrapper__second{
//     width: 320px;
//     @media (min-width: @tablet-width){
//       width: 648px;
//     }
//     @media (min-width: @desktop-width){
//       width: 987px;
//     }
//   }
