.gallery{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  // margin: 59px auto 0;
  padding: 0 20px;
    @media (min-width: @tablet-width){
      min-width: 648px;
      // width: 100%;
      padding: 0 60px;
    }

    @media (min-width: @desktop-width){
      width: 1200px;
      padding: 0;
      flex-wrap: wrap;
    }

    img{
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
}

// .gallery__wrapper{
//   width: 100%;
//   @media (min-width: @tablet-width){
//     display: flex;
//     flex-wrap: wrap;
//     justify-content: space-between;
//   }
//   @media (min-width: @desktop-width){
//     flex-wrap: nowrap;
//     width: 1200px;
//   }
// }

.gallery__item{
  width: 100%;
    @media (min-width: @tablet-width){
      width: 50%;
    }
    @media (min-width: @desktop-width){
      width: 33.333333%;
    }
  img{
    height: 280px;
    @media (min-width: @tablet-width){
      height: 267px;
    }
  }
}
.gallery__item:nth-child(1){
  width: 100%;
    img{
      @media (min-width: @tablet-width){
        height: 400px;
      }
  }
}

.gallery__item{
  position: relative;
    &--info{
    width: 100%;
    z-index: 2;

    @media (min-width: @tablet-width){
      height: 80px;
      position: absolute;
      bottom: -80px;
      left: 0;
      right: 0;
      background-color: @grey-catalog;
    }
    @media (min-width: @desktop-width){
      bottom: 0;
      background-color: @black;
      // opacity: .3;
      color: @white;
    }
}
}

.gallery__item--title{
  font-family: "PT Sans", "Arial", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 24px;
  text-transform: uppercase;
}

.gallery__item--autor{
  font-family: "PT Sans", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: @dark-grey;

}

.gallery__item--like{
  font-family: "PT Sans", "Arial", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 24px;
}



