.impression{
  width: 100%;
  display: flex;
  justify-content: center;
    @media (min-width: @tablet-width){
      justify-content: flex-start;
      width: 50%;
      order: -3;
    }
  }

.impression__item{
  margin-bottom: 43px;
    @media (min-width: @tablet-width){
      margin-bottom: 52px;
    }

}
.impression__item label{
  font-family: "PT Sans", "Arial", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 26px;
  text-transform: none;
}

.impression fieldset{
  border: none;
}


