.intro-index{
  background-image: url(../../img/intro-back-mobile.jpg);
  background-repeat: no-repeat;
  width: 901px;
  height: 389px;}

.intro-triangle{
  background-image: url(../../img/intro-triangle.png);
  background-repeat: no-repeat;
  z-index: 2;
  height: 57px;
  width: 1201px;
  border-radius: 0px;
}

.intro-text{
  background-image: url(../../img/text-index.svg);
  background-repeat: no-repeat;
  z-index: 1;
  width: 282px;
  height: 214px;
}

