.intro{
  background-image: url(../img/intro-back-mobile.jpg);
  background-repeat: no-repeat;
  width: 901px;
  height: 389px;

  display: flex;
  align-items: center;

    // @media (min-width: @tablet-width){
    //   background-image: url(../img/intro-back-desktop.jpg);
    //   width: 1200px;
    //   height: 518px;
    // }
}

// .intro-index{
//   background-image: url(../../img/intro-back-mobile.jpg);
//   background-repeat: no-repeat;
//   width: 901px;
//   height: 389px;
// }

.intro-triangle{
  background-image: url(../img/intro-triangle.png);
  background-repeat: no-repeat;
  z-index: 2;
  height: 57px;
  width: 1201px;
  border-radius: 0px;
}

.intro-text{
  background-image: url(../img/intro-text.svg);
  background-repeat: no-repeat;
  z-index: 1;
  width: 282px;
  height: 214px;
}

.intro-logo{
  background-image: url(../img/intro-logo.svg);
  background-repeat: no-repeat;
  width: 229px;
  height: 39px;
}


