.offer{
  text-align: center;
  // padding-top: 33px;
  margin: 50px auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  @media (min-width: @tablet-width) {
    // padding: 58px 78px 0;
    // max-width: 520px;
  }
}

.offer__title{
  font-family: "PT Sans", "Arial", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
}

.offer__text{
  font-family: "PT Sans", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  margin-top: 20px;
  margin-bottom: 27px;
  width: 260px;
    @media (min-width: @tablet-width) {
      margin-bottom: 37px;
      width: 435px;
    }

    @media (min-width: @desktop-width) {
      margin-bottom: 42px;
    }
}

.offer__button{
  width: 280px;
  height: 58px;
    @media (min-width: @tablet-width) {
      width: 458px;
    }
}
