.offer{
  text-align: center;
  padding-top: 33px;
  @media (min-width: @tablet-width) {
    padding: 58px 78px 0;
    width: 520px;
    height: 110px;
  }

  @media (min-width: @desktop-width) {
    margin: 0 auto;
    max-width: 520px;
  }
}

.offer-title{
  font-family: "PT Sans", "Arial", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
}

.offer-text{
  font-family: "PT Sans", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
}

.offer__find{
  font-family: "PT Sans", "Arial", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
  border: 2px solid @blue-main;
  width: 280px;
  height: 58px;
}
