.page{
  height: 100%;
  font-size: 14px;
  font-family: "PT Sans", "Arial", sans-serif;
  line-height: 26px;
  text-transform: uppercase;
    a{
      text-decoration: none;
    }
}

.page__body{
  min-width: 320px;
  min-height: 100%;
  background-color: @white;
}
