.reasons{
  background-color: @grey;

  @media (min-width: @tablet-width){
    min-height: 256px;
    display: flex;
    justify-content: space-between;
  }
}

.reasons--reverse{
  @media (max-width: @mobile-width-only){
    display: flex;
    flex-direction: column;
    .reasons-item__wrapper{
      order: -1;
    }
  }
}

// .reasons-item__img:nth-child(2){
//   @media (max-width: @mobile-width-only) {
//     .reasons{
//       display: flex;
//       justify-content: space-between;
//     }

//     order: 2;
//   }
// }

.reasons-item__wrapper{
  text-align: center;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  min-height: 191px;
  // width: 320px;
  // padding: 10px;
  width: 100%;
    @media (min-width: @tablet-width){
      width: 33.333333%;
    }
}

.reasons_bop .reasons-item__wrapper:not(:last-child){
  @media (max-width: @mobile-width-only){
    &:before{
      content: "";
      position: absolute;
      bottom: 0;
      width: 280px;
      height: 2px;
      background-color: @grey-light;
      margin: 0 auto;
    }
  }
}


.reasons-img .reasons-item__wrapper {
  background-color: @blue-main;
  color: @white;
}

.reasons-img .reasons-item__wrapper:first-child {
  background-color: @blue-main;
  color: @white;
  @media (max-width: @mobile-width-only){

    &:before{
      content: "";
      width: 100%;
      height: 37px;
      position: absolute;
      top: 0;
      left: 0;
      z-index: 3;
      background-image: url(../img/about-triangle.svg);
      background-repeat: no-repeat;
      background-position: center bottom;
      background-size: cover;
    }
  }
}


.reasons-item__img{
  width: 100%;
  height: 260px;

    img{
      width: 100%;
      height: 100%;
      object-fit: cover;

      @media (min-width: @tablet-width){
        height: 100%;
      }
    }

    @media (min-width: @tablet-width){
      width: 66.666666%;
    }
}

.reasons-item__title{
  font-family: "PT Sans", "Arial", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 26px;
}

.reasons-item__desc{
  font-family: "PT Sans", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
}
