.reasons-item{
  background-color: @grey;
}

.reasons-item:nth-child(1), .reasons-item:nth-child(3){
  background-color: @blue-main;
}

.reasons-item:nth-child(1) .reasons-item__img{
  background-image: url(../../img/photo-city-index.jpg);
  background-repeat: no-repeat;
  width: 520px;
  height: 260px;
}

.reasons-item:nth-child(3) .reasons-item__img{
  background-image: url(../../img/photo-bridge-index.jpg);
  background-repeat: no-repeat;
  width: 520px;
  height: 260px;
}

.reasons-item__title{
  font-family: "PT Sans", "Arial", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 26px;
}

.reasons-item__desc{
  font-family: "PT Sans", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
}
