.site-list{
  background-color: @blue-main;
  font-size: 18px;
  font-family: "PT Sans", "Arial", sans-serif;
  line-height: 40px;
  font-weight: bold;
  color: @white;
  height: 220px;
    @media (min-width: @tablet-width){
      height: 56px;
      display: flex;
      justify-content: space-between;
      background-color: @white;
    }
}

.site-list__item a{
  color: @white;
  text-decoration: none;

  &:hover,
  &:focus {
    color: @blue-main;
    background-color: @blue-hover;
  }

  &:active {
    color: @white;
    opacity: 0.3;
    background-color: @blue-down;
  }


  @media (min-width: @tablet-width){
    color: @black;

    &:hover,
      &:focus {
        color: @blue-main;
        background-color: @white;
      }
      &:active {
        color: @grey-hover;
        background-color: @white;
      }

  }
}

.site-list__item{
  box-shadow: 0px 1px 0px rgba(1, 1, 1, 0.2);
  height: 55px;
  width: 100%;
  text-align: center;
  position: relative;

  display: flex;
  justify-content: center;
  align-items: center;

    @media (min-width: @tablet-width){
    box-shadow: none;
    }

    // @media (max-width: @mobile-width-only){
    //   &:hover,
    //   &:focus {
    //     background-color: @blue-hover;
    //       @media (min-width: @tablet-width){
    //         background-color: @white;
    //       }
    //   }
    //   &:active{
    //     background-color: @blue-down;
    //     opacity: .3;
    //       @media (min-width: @tablet-width){
    //         background-color: @white;
    //       }
    //   }
    // }
}

.site-list__item--active a{
  color: @white;
  text-decoration: none;

  @media (min-width: @tablet-width){
    color: @brown-menu;
    background-color: @white;

    &:hover,
    &:focus {
      color: @brown-menu-dark;
    }

    &:active {
      color: @brown-menu;
      opacity: .3;
    }

  }
}
