.video-title{
  font-family: "PT Sans", "Arial", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 26px;
  text-transform: uppercase;
}

.video-text{
  font-family: "PT Sans", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  text-transform: uppercase;
  color: @dark-grey;
  margin-bottom: 30px;
    @media (min-width: @tablet-width){
      margin-bottom: 60px;
    }
}

.video-volume{
  width: 280px;
  height: 45px;
  background-color: @black;
  opacity: 0.6;
}

.video-control{
  width: 280px;
  height: 66px;
  background-color: @form-grey;
}

.video__wrapper{
  margin: 59px auto 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
    @media (min-width: @tablet-width){
      width: 648px;
    }
    @media (min-width: @desktop-width){
      width: 800px;
    }
}
