.video-title{
  font-family: "PT Sans", "Arial", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 26px;
  text-transform: uppercase;
}

.video-text{
  font-family: "PT Sans", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  text-transform: uppercase;
  color: @dark-grey;
}

.video-volume{
  width: 280px;
  height: 45px;
  background-color: @black;
  opacity: 0.6;
}

.video-control{
  width: 280px;
  height: 66px;
  background-color: @form-grey;
}
