// colors

@white: #FFFFFF;
@blue-main: #81B3D2;
@black: #000000;
@black-opacity: rgba(0, 0, 0, 0.5);
@grey: #EEEEEE;
@form-grey: #F2F2F2;
@dark-grey: #333333;
@blue-hover: #669EC0;
@blue-down: #5496BD;
@grey-wrap: #E7E5E5;
@grey-contacts: #E6E6E6;
@grey-catalog: #EAEAEA;
@brown-menu: #766357;
@brown-menu-dark: #604E43;
@grey-disabled: #E5E5E5;
@grey-hover: rgba(255, 255, 255, 0.5);
@grey-light: #D6D6D6;
@grey-down: #D5D5D5;

// viewports

@tablet-width: 768px;
@desktop-width: 1200px;
@mobile-width-only: 767px;
