// colors

@white: #FFFFFF;
@blue-main: #81B3D2;
@black: #000000;
@grey: #EEEEEE;
@form-grey: #F2F2F2;
@dark-grey: #333333;
@blue-hover: #669EC0;
@blue-down: #5496BD;

// viewports

@tablet-width: 768px;
@desktop-width: 1200px;
@mobile-width-only: 767px;
